.alignform{
    text-align: center;
}

.formInicio {

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: bold;
        }

        input{
            padding: 0.3rem;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            height: 3rem;
            width: 30%;
        }
        
        button{
            margin-top: 1rem;
            height: 3rem;
            width: 30%;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #1253f5;
            padding: 0.3rem;
            color: #FFFFFF;
        }
    }

    p{
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;

        a{
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: #f3b919;

        }
    }
}
