.dashboard{
    display: grid;
  row-gap: 1px;
  grid-template-columns: 620px 620px;
  max-width: 800px;
  margin: 1px;

    button{
        margin-top: 1rem;
        height: 3rem;
        width: 30%;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #1253f5;
        padding: 0.3rem;
        color: #FFFFFF;


        a{
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: #FFFFFF;

        }
    }
}

.body{
    background: url('../../../imgs/background.jpg');
    
    .textoDashboard{
        display: flex;

        .sair{
            margin-top: 0.30rem;
            margin-left: 13rem;
            height: 3rem;
            width: 5%;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #1253f5;
            padding: 0.3rem;
            color: #FFFFFF;
        }
    }
.nomeDash{
    color: white;
}

}

