.vistase{
    font-size: 3rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0rem;
    padding: 0;
    text-align: center;
    justify-content: center;
    margin-right: 30rem;
}