.vistase{
    font-size: 3rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
    justify-content: center;
    color: white;
    margin-left: 30rem;
    margin-right: 1rem;
}

.burguer{
    font-size: 2.0rem;
    color: white;
    cursor: pointer;
}

.burguer:hover{
    background-color: rgb(103, 98, 98);
    border-radius: 1000px;
    color: rgb(0, 136, 255);
}

.dropbtn{
    background-color: transparent;
    padding: 1px;
    border: none;
  }

  .dropdown {
    position: absolute;
  }

  .dropdown-content{
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
  color: black;
  padding: 8px 12px;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  }
  
.dropdown-content a:hover {
  background-color: black;
  color: rgb(13, 134, 248);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}